body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top: 0;
    padding: auto;
    width: 100%;
    background-color: green;
    color: white;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: normal;
}

#nave {
    margin-top: 100px;
}
  
table {
    width: 75%;
    margin: auto;
}
  
table, th, td {
    margin-top: 10%;
    border: 2px rgb(26, 23, 23) solid;
}